git+https://github.com/gmrukwa/functional-helpers.git@2e68a8801f894a14601d70db76086ada723bac35#egg=functional_helpers
matlabruntimeforpython===R2016b
matplotlib==2.2.2
networkx==2.1
numpy==1.15.0
pandas<0.21
scikit-learn>=0.19.1
scipy==1.1.0
tqdm>=4.11.2
typing>=3.6.2; python_version=='3.4'
