-e git+https://github.com/gmrukwa/functional-helpers.git@2e68a8801f894a14601d70db76086ada723bac35#egg=functional_helpers
matlabruntimeforpython===R2016b
numpy>=1.12.1
pandas==0.21.0
scipy>=0.19.1
setuptools>=27.2.0
tqdm>=4.11.2
typing>=3.6.2; python_version=='3.4'
